@charset "utf-8";
@font-face {
    font-family: 'FonteTitulo';
    src: url("../_Fonts/Beauty.ttf");
}

body {
    background-color: rgb(243, 241, 243);
    overflow-x: hidden;
}

#sidebar {
    width: 100px;
    float: left;
}

#content {
    width: 724px;
    float: right;
    padding-left: 24px;
}

nav {
    width: 200px;
    background-color: rgb(243, 241, 243);
    border: solid 1px rgb(116, 117, 139);
    padding: 0 12px;
}

#nav-anchor {
    width: 30%;
    float: left;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: rgb(11, 9, 11);
    font-weight: 700;
}

a.nav-active {
    color: rgb(114, 112, 114);
}

#name {
    text-align: center;
}

#logo {
    padding-left: 15px;
}

#content {
    width: 70%;
    float: right;
}

#Front {
    padding-left: 225px;
    padding-bottom: 10px;
    padding-top: 30px;
}

#Back {
    padding-left: 225px;
    padding-top: 30px;
}

#DataBase {
    padding-left: 225px;
    padding-top: 50px;
}

#Tools {
    padding-left: 120px;
    padding-top: 50px;
}

p {
    text-align: justify;
}

.banner {
    background-image: url("../_Imagens/_BackgroundOrangeCupBlackWhite.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 100%;
}

header#cabecalho h1 {
    font-family: 'FonteTitulo', sans-serif;
    font-size: 8vw;
    color: #ccc;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, .6);
}

header#cabecalho h2 {
    font-family: 'FonteTitulo', sans-serif;
    font-size: 4vw;
    color: #ccc;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, .6);
    text-align: center;
}

.intro-divider {
    width: 900px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#fotoPessoal {
    margin: 0 0 10px 20px;
}

blockquote {
    font-size: 19px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

h1 {
    font-family: "FonteTitulo";
    font-size: 6vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

#btnIniciar {
    position: absolute;
    left: 50%;
    top: 85%;
}

h2 {
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

@media only screen and (max-width: 1026px) {
    #sidebar {
        display: none;
    }
    #content {
        width: auto;
        padding-left: 24px;
    }
    #btnIniciar {
        display: none;
    }
}