@charset "utf-8";
@font-face {
    font-family: 'FonteTitulo';
    src: url("../_Fonts/Beauty.ttf");
}

body {
    background-color: rgb(243, 241, 243);
    overflow-x: hidden;
}

#main {
    width: 100%;
}

#sidebar {
    width: 100%;
    float: left;
}

nav {
    width: 15%;
    background-color: rgb(243, 241, 243);
    border: solid 1px rgb(116, 117, 139);
    padding: 0 2%;
    position: absolute;
}

#nav-anchor {
    width: 35%;
    float: left;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: rgb(11, 9, 11);
    font-weight: 700;
}

a.nav-active {
    color: rgb(114, 112, 114);
}

#name {
    text-align: center;
}

#logo {
    padding-left: 15px;
}

#content {
    width: 70%;
    float: right;
}

#Front {
    font-size: 2vw;
    padding-left: 25%;
}

#Back {
    padding-left: 30%;
}

#DataBase {
    padding-left: 9%;
    padding-top: 3%;
}

#Tools {
    padding-left: 25%;
    padding-top: 3%;
}

p {
    text-align: justify;
}

.jumbotron {
    box-shadow: 5px 5px 5px 5px #888888;
}

#home {
    background-image: url("../_Imagens/_BackgroundOrangeCupBlackWhite.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-bottom: 15%;
    height: 100%;
    width: 103%;
}

header#cabecalho h1 {
    font-family: 'FonteTitulo', sans-serif;
    font-size: 8vw;
    color: #ccc;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, .6);
}

header#cabecalho h2 {
    font-family: 'FonteTitulo', sans-serif;
    font-size: 4vw;
    color: #ccc;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, .6);
    text-align: center;
}

.intro-divider {
    width: 130%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#fotoPessoal {
    margin: 0 0 10px 20px;
    box-shadow: 5px 5px;
}

blockquote {
    font-size: 19px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

h1 {
    font-family: "FonteTitulo";
    font-size: 6vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

#btnIniciar {
    position: absolute;
    left: 50%;
    top: 85%;
}

h2 {
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

footer {
    background-image: url("../_Imagens/_BackgroundFooter.png");
    background-repeat: no-repeat;
    background-color: #3b3b3a;
    width: 103%;
}

.codepenIcon {
    background-image: url("../_Imagens/_CodePenIcon.png");
    display: inline-block;
    height: 18%;
    width: 10%;
    text-indent: -9999%;
    background-repeat: no-repeat;
}

.githubIcon {
    background-image: url("../_Imagens/_GitHubIcon.png");
    display: inline-block;
    height: 18%;
    width: 10%;
    text-indent: -9999%;
    background-repeat: no-repeat;
}

.explanation {
    font-size: 11px;
}

#modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(243, 241, 243);
    width: 35%;
    padding: 15px;
}

@media only screen and (max-width: 1026px) {
    nav {
        position: fixed;
        right: 0.10%;
        top: 30%;
        width: 12em;
        margin-top: -2.5em;
    }
    ul#Navegador img {
        display: none;
    }
    #content {
        width: 100%;
        padding-right: 10%;
    }
    h1 {
        font-family: "FonteTitulo";
        font-size: 6vw;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
        text-align: center;
    }
    #home {
        background-image: url("../_Imagens/_BackgroundOrangeCupBlackWhite.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 15%;
        padding-bottom: 15%;
        height: 100%;
        width: 115%;
    }
    #contato {
        padding-left: 20%;
    }
    .codepenIcon {
        background-image: url("../_Imagens/_CodePenIcon.png");
        display: inline-block;
        height: 16%;
        width: 13%;
        text-indent: -9999%;
        background-repeat: no-repeat;
    }
    .githubIcon {
        background-image: url("../_Imagens/_GitHubIcon.png");
        display: inline-block;
        height: 16%;
        width: 13%;
        text-indent: -9999%;
        background-repeat: no-repeat;
    }
    .exp {
        padding-left: 10%;
    }
    footer {
        background-image: url("../_Imagens/_BackgroundFooter.png");
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        width: 115%;
        text-align: center;
        padding-top: 15%;
    }
}